/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /*background-color: rgb(37, 37, 37);*/
  background-color: rgb(248, 248, 248);

  font-family: 'Roboto', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */

h1 {
  font-weight: 900;
  font-size: 52px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
}

h4 {
  font-weight: 500;
  font-size: 22px;
}

.content {
  font-size: 20px;
}

.post-title, .post-subtitle, .post-date {
  margin-top: 0;
  margin-bottom: 5px;
}

.post-title {
  font-size: 60px;
}

.post-list-title {
  font-size: 16pt;
  margin-top: 10px;
  margin-bottom: 0;
}

.post-subtitle {
  font-size: 32px;
  font-weight: 300;
  opacity: 0.60;
}

.post-date {
  margin-bottom: 0;
}

.post-list-date, .post-date {
  opacity: 0.60;
}

.cross-posted {
  float: right;
/*  font-size: 75%;
  opacity: 0.8;
  background-color: #DDD;
  margin: 10px;
  padding: 10px;
  border-radius: 10px; */
}
.cross-posted p {
  margin: 0;
}

ul.posts {
  padding-left: 0;
}

.tags {
  float: right;
  font-size: 65%;
  opacity: 0.60;
}

.spacer {
  margin-top: 10em;
}

.sidebar {
  opacity: 0.60;
}

.container {
  max-width: 1100px;
}

.post-footer {
  margin-bottom: 2em;
}

.post-footer-row {
  margin-top: 20px;
  margin-bottom: 20px;
  /*
  margin-bottom: 20px;
  margin-top: 20px;
  */
}

.clear {
  margin: 0;
  padding: 0;
  clear: both;
}

.footer .container {
  margin-left: auto;
  margin-right: auto;
}

.footer .text-muted {
  margin-top: 10px;
}
