html {
  position: relative;
  min-height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: rgb(248, 248, 248);
  font-size: inherit; /* Override bootstrap */
  font-family: inherit; /* Override bootstrap */
}

.footer {
  background-color: #f5f5f5;
  font-size: 0.8rem;
}

.footer > * {
  margin-top: 1px;
}

.flex {
  display: flex;
}

.flex-right {
  flex: 1;
  justify-content: flex-start;
}

.flex-left {
  flex: 1;
  justify-content: flex-end;
}

.flex-center {
  flex: 1;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
/*
  font-family: 'Bitter', sans-serif;
*/
}

h1 {
  font-weight: 900;
  font-size: 4.0rem;
}

h2 {
  font-weight: 800;
  font-size: 3.0rem;
}

h3 {
  font-weight: 700;
  font-size: 2.0rem;
}

h4 {
  font-weight: 600;
  font-size: 1.8rem;
}

h5 {
  font-weight: 600;
  font-size: 1.5rem;
}

h6 {
  font-weight: 600;
  font-size: 1.2rem;
}

.featured-languages img {
  max-height: 2rem;
  max-width: 2rem;
  margin: 0.5rem;
}

.quote {
  opacity: 0.80;
  max-width: 80%;
}

.content {
  font-size: inherit; /* Override bootstrap */
}

.post-header-content * {
  margin-top: 0;
  margin-bottom: 5px;
}

.post-title {
  font-size: 60px;
}

.post-list-title {
  font-size: 16pt;
  margin-top: 10px;
  margin-bottom: 0;
}

.post-subtitle {
  font-size: 32px;
  font-weight: 500;
  opacity: 0.70;
}

.post-list-date, .post-date {
  opacity: 0.70;
}

.post-date {
  margin-bottom: 0;
  font-weight: 500;
}

.post-list-date {
  font-size: 70%;
}

.cross-posted-to-medium {
  float: right;
  display: none;
  margin-top: 10px;
  margin-right: 10px;
}

.cross-posted-to-medium p {
  margin: 0;
}

ul.posts {
  padding-left: 0;
}

.tags {
  float: right;
  font-size: 65%;
  opacity: 0.60;
}

.spacer {
  margin-top: 10em;
}

.sidebar {
  opacity: 0.60;
  margin-block-end: 2rem;
}

.container {
  max-width: 1100px;
}

.post-footer {
  margin-bottom: 2em;
}

.post-footer-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.clear {
  margin: 0;
  padding: 0;
  clear: both;
}

.footer .container {
  margin-left: auto;
  margin-right: auto;
}

.footer .text-muted {
  margin-top: 10px;
}

.header-image-bg {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 5px;
}

.post-content {
  padding-left: 10px;
}

.post-header-with-image {
  position: relative;
  min-height: 100%;
}

.post-header-content {
  padding-left: 10px;
  padding-bottom: 10px;
}

.post-header-with-image-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-header {
  padding: 0;
}

.page-header > div {
  padding: 0;
}

.c64 {
  padding: 0.4em;
}

.eqtion {
  margin-left: 5%;
}

.gist article.markdown-body {
  padding: 1em !important;
}

.sidebar-module ul {
  display: flex;
  flex-wrap: wrap;
}
.sidebar-module li {
  margin-right: 15px;
}

.sm80 {
  font-size: 80%;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-nav > li > a {
  padding: 15px 15px;
}

.center-x {
  display: flex;
  align-items: center;
}

.center-y {
  display: flex;
  justify-content: center;
}

img.logo {
  width: 30px;
  height: 30px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-top-20 {
  margin-top: 20px;
}

.c64 {
  max-width: 60%;
}

.talks ul {
  list-style: none;
  padding-inline-start: 0px; /* reset user agent stylesheet */
}

.wip-talks ul {
  list-style: none;
  padding-inline-start: 0px; /* reset user agent stylesheet */
}
.wip-talks li:before {
  content: "🚧\00a0";
}
