#!/usr/bin/env bash

# shellcheck source=.config/environment
source .config/environment
watch_file "${CONFIG_HOME}/environment"

if [[ -n $NIX_PROFILES ]]; then
  source_env "${CONFIG_HOME}/direnv/use_nix.sh"
  export NIX_CONFIG_HOME=${CONFIG_HOME}/nix
  use nix \
    -s "${NIX_CONFIG_HOME}/envrc.nix" \
    -w "${NIX_CONFIG_HOME}/pkgs.nix"
fi
