#!/usr/bin/env bash

#PATH_add scripts

#export CONFIG_HOME=$PWD/.config

# shellcheck source=.config/environment
source .config/environment
watch_file "${CONFIG_HOME}/environment"

if [[ -f ~/.nix-channels ]]; then
  source_env "${CONFIG_HOME}/direnv/envrc.use_nix"
  export NIX_CONFIG_HOME=${CONFIG_HOME}/nix
  use nix \
    -s "${NIX_CONFIG_HOME}/shell.nix" \
    -w "${NIX_CONFIG_HOME}/.nixpkgs-version.json"
fi
