/.cabal-sandbox/
/.direnv/
/.local/
/.stack-work/
/_cache/
/_site/
/cabal.project
/cabal.project.freeze
/cabal.sandbox.config
/default.nix
/dist-newstyle/
/dist/
/result
/shell.nix
/steshaw-org.cabal
/steshaw-org.nix
/steshaw.org.nix
