[submodule "steshaw.github.io"]
	path = steshaw.github.io
	url = git@github.com:steshaw/steshaw.github.io.git
[submodule "talks/testing-properties-with-quickcheck/quickcheck-examples"]
	path = talks/testing-properties-with-quickcheck/quickcheck-examples
	url = git@github.com:steshaw/quickcheck-examples
