[submodule "_site"]
	path = steshaw.github.io
	url = git@github.com:steshaw/steshaw.github.io.git
[submodule "talks/property-based-testing-with-quickcheck/quickcheck-examples"]
	path = talks/property-based-testing-with-quickcheck/quickcheck-examples
	url = git@github.com:steshaw/quickcheck-examples
