<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Steven Shaw - $title$</title>
    <meta name="description" content="Steven Shaw loves programming languages">
    <meta name="author" content="Steven Shaw">
    <meta name="robots" content="index, follow">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>

    <link rel="shortcut icon" href="/img/favicon.png">

    <!-- Google analytics -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28913223-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Steven Shaw</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="$homeactive$">
              <a href="$homeurl$"><i class="fa fa-home"></i> Home</a>
            </li>
            <!-- <li><a href="/posts.html"><i class="fa fa-inbox"></i> Posts</a></li> -->
            <!-- <li><a href="/slides"><i class="fa fa-picture-o"></i> Slides</a></li> -->
            <li class="$aboutactive$">
              <a href="$abouturl$"><i class="fa fa-user"></i> About</a>
            </li>
            <!-- <li><a href="/tags.html"><i class="fa fa-tags"></i> Tags</a></li>
            <li>
              <a href="/rss.xml" class="rss-link">
                <i class="fa fa-rss"></i>
                <abbr class="initialism"> RSS</abbr>
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <article class="hentry">
        $body$
      </article>
    </div>

    <footer class="footer">
      <div class="container">
        <div class=" text-muted">
          <div class="entry-unrelated pull-right">
            <a href="#">Back to top <i class="fa fa-arrow-up"></i></a>
          </div>

          <span class="source-org vcard copyright">
            &copy; Steven Shaw 2012-15.
          </span>

          <br>

          <span class="entry-unrelated">
            Built with <a href="http://jaspervdj.be/hakyll/">Hakyll</a>,
            <a href="http://johnmacfarlane.net/pandoc">Pandoc</a>,
            <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>
            and <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>.
          </span>
        </div>
      </div>
    </footer>

    <!-- JavaScripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>
