<header>
  <div class="cross-posted-to-medium">
    <a class="btn btn-default">
      <i class="fa fa-medium"></i> Cross-posted to Medium
    </a>
  </div>
  <div class="header-image-bg">
    <div class="post-header">
      <div class="post-header-content">
        <h1 class="post-title">$title$</h1>
        $if(subtitle)$
          <h4 class="post-subtitle">$subtitle$</h4>
        $endif$
        <h4 class="post-date"><small><time class="timeago" datetime="$date$" pubdate>$date$</time></small></h4>
      </div>
    </div>
  </div>
</header>

<div class="post-content">
  $body$
</div>

<div class="post-footer">
  $if(tags)$
  <div class="post-footer-row">
    <div class="tags">
      <i class="fa fa-tags"></i> $tags$
    </div>
  </div>
  <div class="clear"></div>
  $endif$

  <div class="post-footer-row">
    <div class="post-nav">
      $if(olderPostUrl)$
      <a class="btn btn-default" href="$olderPostUrl$" style="float: left;"><i class="fa fa-chevron-left"></i> Prev</a>
      $endif$
      $if(newerPostUrl)$
      <a class="btn btn-default" href="$newerPostUrl$" style="float: right;">Next <i class="fa fa-chevron-right"></i></a>
      $endif$
    </div>
  </div>
  <div class="clear"></div>
</div>
